<h1>For loop</h1>

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(11,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [8]:
for n in range(11,16):
    for m in range(16,21):
        print(f'{n} and {m}')

11 and 16
11 and 17
11 and 18
11 and 19
11 and 20
12 and 16
12 and 17
12 and 18
12 and 19
12 and 20
13 and 16
13 and 17
13 and 18
13 and 19
13 and 20
14 and 16
14 and 17
14 and 18
14 and 19
14 and 20
15 and 16
15 and 17
15 and 18
15 and 19
15 and 20

In [9]:
marks=20
if marks>=20:
    print("A-GRADE")
else:
    print("B-GRADE")

A-GRADE

<H2>TERNARY OPERATOR</H2>

In [11]:
AGE=18
print("eleigible") if AGE >=18 else print("not eligible")

eleigible

In [12]:
name='YOGESH'
for i in range(0,len(name)):
    print(name[i])

Y
O
G
E
S
H

In [15]:
n=11
for i in range(n,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [14]:
n=10
summ=0
for i in range(n+1):
    summ=summ+i
print(summ)

55

In [17]:
even=0
for i in range(10):
    if i%2==0:
        even=even+1
print("NUmber of even numbers",even)

NUmber of even numbers 5

In [19]:
n=10
def sumn(n):
    if n<=0:
        return 0;
    return n+sumn(n-1) 
nn=sumn(n)
print(nn)

55

n=int(input("Enter first number"))
m=int(input("Enter Second number"))
print (m," is min number") if n>m else print(n," is min number")
x=min(n,m)
print("min number is", x)

<h1>OPERATORS</h1>

In [27]:
a,b=10,20
print(f"a>b:{a>b}")

a>b:False

In [26]:
a,b=10,2
print(f"a>b:{a>b}")

a>b:True

In [38]:
n=int(input("Enter NUmber of sudents"))
snames=[]
susns=[]
name=""
usn=""
for i in range(1,n+1):
    print(f"enter details of student {i}")
    name=input("Enter student name")
    usn=input("enter student usn")
    snames.append(name)
    susns.append(usn)
print(30 *"_")
print("si_no\t Name\t   USN")
print(30 *"_")

for i in range (1,n+1):
    print(f"{i}  {snames[i-1]}   {susns[i-1]}")

Enter NUmber of sudents 2

enter details of student 1

Enter student name YOGESH
enter student usn 2SD22CS131

enter details of student 2

Enter student name DARSHAN
enter student usn 2SDCS23403

______________________________
si_no	 Name	   USN
______________________________
1  YOGESH   2SD22CS131
2  DARSHAN   2SDCS23403