<h1>WEEK-01</h1>

<h3>Q1</h3>

In [2]:
print("MSD")
print("2SD22CS131")

MSD
2SD22CS131

<h3>Q2</h3>

In [3]:
boss="D BOSS"
print(boss)

D BOSS

<h3>Q3</h3>

In [4]:
text="YENRI MEDIA"
print(text)

YENRI MEDIA

<h3>Q4</h3>

In [6]:
#i and ii
di=input("Enter your name")
print("Direct input:",di)
#iii
print(input('Enter your age'))

Enter your name DARSHAN

Direct input: DARSHAN

Enter your age 07

07

<h3>Q5</h3>

In [9]:
i=10
print(type(i))
ii='Hello'
print(type(ii))
iii=2.3
print(type(iii))
iv=54.23 #no double class in python
print(type(iv))
v='Y'
print(type(v))
vi=True
print(type(vi))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'bool'>

<h3>Q6</h3>

In [11]:
print(len('MSDHONI'))
d='Darshan'
print(len(d))

7
7

<h3>Q7</h3>

In [13]:
print('''
India lift 
        the world cup
                    after 28 yeras''')

India lift
        the world cup
                    after 28 yeras

<h3>Q8</h3>

In [18]:
print('ms'+' dhoni')
x='abc'
y='def'
print(x+y)

ms dhoni
abcdef

<H3>Q9</H3>

In [22]:
sname=input('Enter student name')
print(sname)

Enter student name YOGESH

YOGESH

<H3>Q10</H3>

In [24]:
n1=int(input('Enter number 1'))
n2=int(input('Enter number 2'))
print('addition of ',n1,'+',n2,'is:',n1+n2)
print('Subtraction of ',n1,'-',n2,'is:',n1-n2)
print('Division of ',n1,'/',n2,'is:',n1/n2)
print('Multiplication of ',n1,'*',n2,'is:',n1*n2)

Enter number 1 10
Enter number 2 5

addition of  10 + 5 is: 15
Subtraction of  10 - 5 is: 5
Division of  10 / 5 is: 2.0
Multiplication of  10 * 5 is: 50

<H3>Q11</H3>

In [27]:
text='MSDHONI'
print('Character at index 4:',text[4])
try:
    print('character at index 20:',text[20])
except IndexError:
    print('String index out of range')
print('Character at index -1:',text[-1])

Character at index 4: O
String index out of range
Character at index -1: I

<h3>Q12</h3>

In [34]:
t='Hello,World'
print(t[2:8])
print(t[:5])
print(t[-5])
print(t[:])
print(t[-8:-5])
print(t[:-5])
print(t[-5:])

llo,Wo
Hello
W
Hello,World
lo,
Hello,
World

<h3>Q13</h3>

In [47]:
B='D'
print(B.upper(),'BOSS'.lower())

D boss

<h3>Q14</h3>

In [44]:
s='     WHAT YOU PEOPLE ARE DOING      '
print(s.lstrip())
print(s.rstrip())
print(s.strip())

WHAT YOU PEOPLE ARE DOING
     WHAT YOU PEOPLE ARE DOING
WHAT YOU PEOPLE ARE DOING

<h3>Q15</h3>

In [46]:
text='DBOSS'
print('Starting index:',len(text)-len(text),' Ending index:',len(text)-1)

Starting index: 0  Ending index: 4

<h1>WEEK-02</h1>

<h3>Q1</h3>

In [50]:
num_int=10
print(num_int)
print(float(num_int))

num_float=10.7
print(num_float)
print(int(num_float))

10
10.0
10.7
10

<h3>Q2</h3>

In [51]:
userstring=input('Enter name')
N=int(input('Enter an integer'))
print(userstring*N)

Enter name MSD
Enter an integer 7

MSDMSDMSDMSDMSDMSDMSD

<h3>Q3</h3>

In [52]:
a="hello"
b="world"
print(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

<h3>Q4</h3>

In [53]:
print('Yogesh'+str(7))

Yogesh7

<h3>Q5</h3>

In [64]:
name='Yogesh'
age=21
score=95.5
print('Name:',name,' Age:',age,' score:',score)
print('Name: '+name,' Age: '+str(age)+'  score: '+str(score))
print(f'Name: {name}  Age: {age}  score: {score}')

Name: Yogesh  Age: 21  score: 95.5
Name: Yogesh  Age: 21  score: 95.5
Name: Yogesh  Age: 21  score: 95.5

<h3>Q6</h3>

In [66]:
mainstring='PLUS OR MINUS PUBLICITY IN ALWAYS'
substring1='PUBLICITY'
substring2='YENRI'
print(mainstring.find(substring1))
print(mainstring.find(substring2))

14
-1

<h3>Q7</h3>

In [75]:
mainstring='PLUS OR MINUS PUBLICITY IN OO OALOWAYS'
print(mainstring.replace('P','A'))
print(mainstring.replace('PL','AP'))
print(mainstring.replace('OR','AND'))

ALUS OR MINUS AUBLICITY IN OO OALOWAYS
APUS OR MINUS PUBLICITY IN OO OALOWAYS
PLUS AND MINUS PUBLICITY IN OO OALOWAYS

<H1>WEEK-03</H1>

<h3>Q1</h3>

In [81]:
import math
x=2
e=2.718281828459045
n=3
print(x*(e**n))

print(x*math.exp(n))

40.17107384637533
40.171073846375336

<h3>Q2</h3>

In [82]:
N=7895848947518451
print(f'formatted number:{N:_}')

formatted number:7_895_848_947_518_451

<H3>Q3</H3>

In [90]:
a1=int(input('Enter number 1:'))
a2=int(input('Enter number 2:'))
print(a1/a2)
print(a1//a2)

Enter number 1: 10
Enter number 2: 6

1.6666666666666667
1

<H3>Q4</H3>

In [91]:
x=10
y=5
p=3
q=2
r=1
s=4
print(f'The result of expression x*(y+(p*q)-r)/s is:{x*(y+(p*q)-r)/s}')

The result of expression x*(y+(p*q)-r)/s is:25.0

<h3>Q5</h3>

In [96]:
x=10.2878451879485
print(round(x,3))

10.288

<h1>WEEK-04</h1>

<H3>Q1</H3>

In [101]:
name='Yogesh'
age=21
print('Name:{1}\nAge:{0}'.format(name,age))
print('\n')
print('Name:{1}\nAge:{0}'.format(age,name))

Name:21
Age:Yogesh


Name:Yogesh
Age:21

<h3>Q2</h3>

In [104]:
print(round(10.2999451,3))
print(abs(-7))
print(pow(2,3))

10.3
7
8

<h3>Q3</h3>

In [106]:
def evaluate_exp(x,y,z):
    result_a=pow(x,y,z)
    result_b=(x**y)%z
    result_c=x**y
    return result_a,result_b,result_c

x=5
y=3
z=2
results=evaluate_exp(x,y,z)
print(f'Result of pow(x,y,z):{results[0]}')
print(f'Result of (x**y)%z:{results[1]}')
print(f'Result of (x**y):{results[2]}')

Result of pow(x,y,z):1
Result of (x**y)%z:1
Result of (x**y):125

<h3>Q4</h3>

In [112]:
print(10.23.is_integer())
x=10
print(x.is_integer())

False
True

<h3>Q5</h3>

In [121]:
f=31.77535
d=4
print(f'{f:.{d}}')

31.78

<h3>Q6</h3>

In [125]:
fs='%.{0}f'.format(d)
fn=fs%f
print(fn)
#same as round

31.7753

<H3>Q7</H3>

In [127]:
complexnumber=3+4j
print(complexnumber.real)
print(complexnumber.imag)

3.0
4.0

<h3>Q8</h3>

In [128]:
x,y=5+2j,9-7j
print(x+y)
print(x-y)

(14-5j)
(-4+9j)

<h3>Q9</h3>

In [130]:
def wishmsg(name):
    print('Good morning:',name)
wishmsg('YOGESH')

Good morning: YOGESH

<h3>Q10</h3>

In [131]:
def arithmetic(n1,n2):
    print(n1+n2)
    print(n1-n2)
    print(n1*n2)
arithmetic(10,5)

15
5
50